[Unit]
Description=TimesTen ORDS Service
After=cloud-final.service

[Service]
# environment variable not working
#Environment="TIMESTEN_HOME=/u01/TimesTen/121110"
#Environment=JAVA_HOME=/opt/jre1.8
User=oracle
Group=oracle
Type=forking
Restart=on-failure
PIDFile=/home/opc//ords.3.0.9.348.07.16/ords.pid
ExecStart=/home/opc//ttimdbcs/scripts/ords/launchords
#ExecStop=kill -9 $(cat /opt/ords/ords.pid)

[Install]
WantedBy=multi-user.target

